<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
	<div th:fragment="footer">
		<footer
			class="p-3 mb-2 bg-secondary text-white text-center text-lg-start">
			<div class="text-center p-3  bg-secondary">

				&copy; 2022-CIS-530 (Book Club) <a class="text-white"
					href="https://www.bellevue.edu/">Book Club</a>
				</p>
			</div>

		</footer>
	</div>
</body>
</html>


<!-- Retrieved from https://mdbootstrap.com/docs/standard/navigation/footer/ -->